{# templates/forum/forumbase.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h2>Forum Page</h2>
    {% block forumcontent %}{% endblock %}
{% endblock %}